<div class="container">
    <!-- <div class="row" align="center">
      <div class="col-sm-4">
        <b>Item</b>      
      </div>
      <div class="col-sm-4">
        <b>Quantity</b>
      </div>
      <div class="col-sm-4">
        <b>Price</b>
      </div>
    </div> -->
    <div class="row" align="center">
      <!-- <div ng-app="myApp" ng-controller="customersCtrl">  -->
        <table width = 100%>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Sub Total</th>
          </tr>
          <!-- Iterate Cart Array here -->
        <!-- <div *ngFor = "let items of cartDetailsArray"> -->
          <tr *ngFor = "let items of cartDetailsArray; index as i">
            <td>{{items.product.pname}}</td>
            <td>
                <select name = {{i}} [(ngModel)] = "count">
                  <option  value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                </select>
                <!-- <input type="text" name="count" [(ngModel)] = "count" value=1> -->
              </td>
            <td>{{items.product.price}}</td>
            <td>{{items.product.price *count}}</td>
          </tr>
        </table>
        <a routerLink = "../checkout/">
          <button> Checkout </button>
        </a>
        </div>
    <!-- </div> -->
  </div>

  <!-- <footer class="container-fluid text-center">
    <p>Online Store Copyright</p>  
    <form class="form-inline">Get deals:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
  </footer> -->