<div class="container">
    <!-- <div class="row" align="center">
      <div class="col-sm-4">
        <b>Item</b>      
      </div>
      <div class="col-sm-4">
        <b>Quantity</b>
      </div>
      <div class="col-sm-4">
        <b>Price</b>
      </div>
    </div> -->
    <div class="row" align="center">
      <!-- <div ng-app="myApp" ng-controller="customersCtrl">  -->
        <table width = 100%>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
          <!-- Iterate Cart Array here -->
          <tr>
            <td>Shoe</td>
            <td><div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" style="color: white" type="button" data-toggle="dropdown">1
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
              </div>
            </td>
            <td>12345</td>
          </tr>
        </table>
    </div>
    <!-- </div> -->
  </div>
  <!-- <footer class="container-fluid text-center">
    <p>Online Store Copyright</p>  
    <form class="form-inline">Get deals:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
  </footer> -->