<html style="height:100%">
<body>
<div>
    <div class="container text-center">
      <img src= "../assets/Logo.png" height="20%" width="20%">      
      <p style="color: black"><b>Before Stepping Out!</b></p>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="topnav">
          <a routerLink="/Home">Home</a>
          <a routerLink="/catalog">Catalog</a> 
          <div class="search-container" style="width:10%; display: inline;"> 
              <!-- <form action="/action_page.php" style="width:10%"> -->
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              <!-- </form> -->
            </div>
            <div class="dropdown" >
                <button class="dropbtn"><i style="float:left" class="glyphicon glyphicon-user"> Account</i>
                  <i class="fa fa-caret-down"></i>
                </button>
            <div class="dropdown-content" >
                <a routerLink="/login">Login</a>
                <a  routerLink="/SignUp">SignUp</a>
              </div>
              </div>
          
          <a routerLink ="/cart">Cart</a>
          
      </div>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-12" align= "center">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
</body>
</html>