<!DOCTYPE html> 
<html style="opacity:0.8; height: 100%; width: 70%; float: center;">
  <body> 
    <h2>SignUp</h2> 
      
    <form action="/action_page.php" style="border:1px solid #ccc"> 
      <div class="container">
        <label><b>Username</b></label>   
        <input type="text" placeholder="Username" name="username" [(ngModel)] = "username" required>

        <label><b>Email</b></label>  
        <input type="text" placeholder="Enter Email" name="email" [(ngModel)] = "email" required> 
        <label><b>Phone Number</b></label> 
        <input type="text" placeholder="PhoneNumber" name="phone" [(ngModel)] = "phone" required> 
        <label><b>Password</b></label> 
        <input type="password" placeholder="Enter Password" name="psw" [(ngModel)] = "password" required> 
        <label><b>Confirm Password</b></label> 
        <input type="password" placeholder="Confirm Password" name="chkpsw" [(ngModel)] = "cpassword" required>
        
      
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> 

        <div class="clearfix" align = "center"> 
          <button type="button" class="cancelbtn">Cancel</button> 
  
          <button type="reset" class="signupbtn" (click) = "addUser()">Sign Up</button> 
        </div> 
      </div> 
    </form> 
      
  </body> 
</html> 